@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.icon{
    height: 50px;
    vertical-align: middle;
    margin: 5px;
}

html{
    font-family: Inter;
    font-size: 18px;
}

#hero{
    width: 100%;
    height: 100vh;
    background: url('./Images/jess-bailey-q10VITrVYUM-unsplash.jpg') no-repeat center / cover;

}

.container{
    width: 90%;
    height: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .info h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.container .info h2{
    font-size: 2rem;
    margin-bottom: 1rem
}

.container .info .create{
    display: inline-block;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
    font-size:1.5rem;
    margin-top: 10px;
    margin-left: 150px;
    border-width: 1px;
    padding: 0.5em;
}

.noPosts .create{
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    font-size:1.5rem;
    margin-top: 10px;
    margin-left: 0px;
    border-width: 1px;
    padding: 0.5em;
}


@media only screen and (max-width:768px){
    html{
        font-size:13px;
        
    }
}

/* form styling */
.formContainer{
    width: 100%;
    height: 100vh;
    background: url('Images/Gemini_Generated_Image_n0qpyhn0qpyhn0qp.png') no-repeat center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.createContainer{
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: rgb(55, 53, 53);
    padding: 50px;
    border-radius: 20px;
}

#title{
    margin-bottom: 40px;
    height: 50px;
}

#text{
    margin-bottom: 40px;
    border-radius: 5px;
}

#author{
    margin-bottom: 40px;
    height: 50px;
}

.formContainer .createContainer input{
    border: 1px solid black;
    border-radius: 5px ;
}

.postButton{
    display: inline-block;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 80px;
    border-width: 1px;
    padding: 20px;
}

.container .info .onMouse{
    display: inline-block;
    text-decoration: none;
    background-color: rgb(61, 58, 58);
    color: white;
    border-radius: 10px;
    font-size:1.5rem;
    margin-top: 10px;
    margin-left: 150px;
    border-width: 1px;
    padding: 0.5em;
}

.noPosts .onMouse{
    display: inline-block;
    text-decoration: none;
    background-color: rgb(61, 58, 58);
    color: white;
    border-radius: 10px;
    font-size:1.5rem;
    margin-top: 10px;
    
    border-width: 1px;
    padding: 0.5em;
}

.gradient-background {
  background: linear-gradient(186deg,#8e0000,#000000);
  background-size: 120% 120%;
  animation: gradient-animation 20s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.noPosts{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.noPosts h1{
    margin-bottom: 40px;
    color: antiquewhite;
}

.postContainer{
    background-color: beige;
    max-width: 800px;
    height: max-content;
    min-height: 100vh;
    margin-left: 18rem;
    padding-top: 1rem;
    
}

.postContainer .postContent ul{
    list-style-type: none;
}

.postContainer .postContent h2{
    margin-left: 2rem;
    margin-top: 2rem;
}

.postContainer .postContent p{
    margin: 2rem;
}

.postContainer .postContent small{
    margin: 1rem;

    display: flex;
    justify-content: end;
}

.postContainer .create{
    display: inline-block;
    text-decoration: none;
    background-color: olive;
    color: white;
    border-radius: 10px;
    font-size:1.5rem;
    margin-top: 10px;
    margin-left: 16rem;
    border-width: 1px;
    padding: 0.5em;
}

.postContainer .onMouse{
    display: inline-block;
    text-decoration: none;
    background-color: rgb(61, 58, 58);
    color: white;
    border-radius: 10px;
    font-size:1.5rem;
    margin-top: 10px;
    margin-left: 16rem;
    border-width: 1px;
    padding: 0.5em;
}